---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "plain";

@font-face {
    font-family: "Fira Sans Light";
    src: url('FiraSans-Light.woff') format('woff'),
    url('FiraSans-Light.ttf') format('truetype'),
    url('FiraSans-Light.otf') format('opentype') ;
}

@font-face {
    font-family: "Fira Sans Light Italic";
    src: url('FiraSans-LightItalic.woff') format('woff'),
    url('FiraSans-LightItalic.ttf') format('truetype'),
    url('FiraSans-LightItalic.otf') format('opentype') ;
}

body,
body.sans-serif,
body.sans-serif .remove-button {
  font-family: "Fira Sans Light", Helvetica, Arial, sans-serif;
}

body.serif,
body.serif .remove-button  {
  font-family: Georgia, "Times New Roman", serif;
}
