
    <li style="clear:right">
        <a href="">
            <h2 class="post-title">
                Biped Robot 
            </h2>
        </a>

        <div class="post-meta">
            <div class="post-date">
                <i class="icon-calendar"></i>
                (July 2007-May 2008)
            </div>
            <ul class="post-categories">
                <li><a href="/category/demos">demos</a></li>
            </ul>
        </div>
        <div class="post">

            <a href="http://www-personal.umich.edu/~dhiman/biped-robot/index.html">
<img class="float-right" 
src='images/biped_VRML_snapshot.jpg'/></a>

Our aim for final year project was to design and fabricate a 12 DOF freedom biped that could be used for further development and testing on walking robots. However, due to unforeseen financial constraints we decided to fallback to the fabrication a 4 DOF biped.

I was responsible in the mechanical design and simulation of the robot. 

<a href='http://www-personal.umich.edu/~dhiman/biped-robot/index.html' /> More ...  </a>

        </div>
    </li>
    <li style="clear:right">
        <a href="">
            <h2 class="post-title">
                Spherical Stepper Motor 
            </h2>
        </a>

        <div class="post-meta">
            <div class="post-date">
                <i class="icon-calendar"></i>
                June-August 2008
            </div>
            <ul class="post-categories">
                <li><a href="/category/demos">demos</a></li>
            </ul>
        </div>
        <div class="post">

<a 
    href='http://www-personal.umich.edu/~dhiman/spherical-stepper-motor/index.html' >
<img  class='float-right' src='images/ssm_stator.JPG'/>
</a>
A motor that could rotate around any axis of rotation passing through its center.

The aim of this project was to fabricate a spherical stepper motor using strategic positioning of electromagnets on the rotor and permanent magnets on the stator.

The strategy of pole placement was inspired by  a paper titled "Kinematic Design and Commutation of a Spherical Stepper Motor" from Gregory S. Chirikjian and David Stein.

<a href="http://www-personal.umich.edu/~dhiman/spherical-stepper-motor/index.html" >
More ...
</a>
        </div>
    </li>
    <li style="clear:right">
        <a href="">
            <h2 class="post-title">
                Refreshable Braille Display 
            </h2>
        </a>

        <div class="post-meta">
            <div class="post-date">
                <i class="icon-calendar"></i>
                June 2007
            </div>
            <ul class="post-categories">
                <li><a href="/category/demos">demos</a></li>
            </ul>
        </div>
        <div class="post">
An 8 character electronic BRAILLE display, that could be controlled using a PC. This project was an application of the knowledge that gained while fabrication of "Moving message display" in the first year of my B.Tech. 

The idea was to replace LED's of the "Moving message display" with electromechanical tangible "points" that could be turned on and off to create braille characters. Each character had 6 points and the unit was designed to have 6 characters. The complete unit was controlled through a parallel port of a PC.
        </div>
    </li>
    <li style="clear:right">
        <a href="">
            <h2 class="post-title">
                Grid Crossing Robot 
            </h2>
        </a>

        <div class="post-meta">
            <div class="post-date">
                <i class="icon-calendar"></i>
                December 2006
            </div>
            <ul class="post-categories">
                <li><a href="/category/demos">demos</a></li>
            </ul>
        </div>
        <div class="post">


            <a href='http://www-personal.umich.edu/~dhiman/grid-crossing-robot/index.html' >
<img class="float-right"  src='images/grid_crossing_robot.jpg'/>
</a>

A machine for robotic competition called _GRIP_ in _TECHFEST'06_, annual technical festival of IIT Bombay. 

The task provided in the competition was to make a wired/wireless remote controlled machine, which can traverse a
grid 1250 mm high, collect a cylindrical object located at a specific
point below the grid, and then place the cylinder in the hollow
cylindrical container provided.

<a href='http://www-personal.umich.edu/~dhiman/grid-crossing-robot/index.html' > More ...  </a>
        </div>
    </li>
    <li style="clear:right">
        <a href="">
            <h2 class="post-title">
                Moving message display 
            </h2>
        </a>

        <div class="post-meta">
            <div class="post-date">
                <i class="icon-calendar"></i>
                February 2005
            </div>
            <ul class="post-categories">
                <li><a href="/category/demos">demos</a></li>
            </ul>
        </div>
        <div class="post">
A PC controlled moving message display. This project was my first fabrication of an electronic circuit. The circuit design and construction was directly taken from an Electronics for you construction article in December 2004 issue titled <a rel='nofollow' target='_blank' href='http://www.efymagonline.com/data.asp?id=61'>Moving
 Message Over Dot-Matrix Display</a> .
        </div>
    </li>
